
@{
    ViewBag.Title = "AdminPage";
}

<h2>Admin Console</h2><br />

<div id="admin-buttons-container">
    @Html.ActionLink("View All Orders", "AllOrdersPage", "Home", new { id = "admin-orders" })
    @Html.ActionLink("Add a Product", "AddProduct", "Home", new { id = "admin-create" })
    @Html.ActionLink("Edit or Delete a Product", "ProductAdmin", "Home", new { id = "admin-delete" })
</div>
